@import "../../../style.scss";

.updateInfo {
  @include themify($themes) {
    width: 45%;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    margin: auto;
    top: 80px;

    padding: 20px;
    border-radius: 10px;
    background-color: themed("navmain");
    color: themed("txt");
    font-size: 14px;

    // &.closed {
    //   display: none;
    // }

    @include mobile {
      background-color: themed("nav");
      height: 100vh;
      width: 100%;
      top: 60px;
      border-radius: 0;
      z-index: 10;
    }

    .container {
      .wrapper {
        .top-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;

          .title {
            font-size: 17px;
            font-weight: 700;
          }
          .btn-close {
            font-size: 20px;
            cursor: pointer;
          }
        }

        .hr {
          border: none;
          height: 0.5px;
          background-color: themed("cb");
          margin-bottom: 20px;
        }

        .form {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 15px;

          .input-wrapper {
            width: 100%;
            display: flex;
            gap: 25px;
            align-items: center;
            label {
              white-space: nowrap;
              font-size: 14px;
              font-weight: 700;
            }
            input {
              width: 100%;
              height: 30px;
              border: none;
              border-bottom: 1px themed("cb") solid;
              background-color: themed("navmain");
              font-size: 12px;
              color: themed("txt");
              font-weight: 400;

              @include mobile {
                background-color: themed("nav");
              }
            }
            input:focus {
              outline: none;
            }
          }

          .hr2 {
            border: none;
            height: 0.5px;
            background-color: themed("cb");
          }

          .bio-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;

            .bio-title {
              font-size: 17px;
              font-weight: 700;
            }

            .input-verse {
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 10px;
              margin-top: 15px;

              input {
                height: 40px;
                background-color: themed("navmain");
                border: none;
                border: 1px solid themed("cb");
                border-radius: 5px;
                color: themed("txt");

                @include mobile {
                  background-color: themed("nav");
                }
              }

              textarea {
                height: 70px;
                background-color: themed("navmain");
                border: none;
                border: 1px solid themed("cb");
                border-radius: 5px;
                color: themed("txt");
                padding: 10px 0 0 0;

                @include mobile {
                  background-color: themed("nav");
                }
              }
              input,
              textarea {
                width: 100%;
                padding-left: 10px;
              }

              input,
              textarea:focus {
                outline: none;
                border: 1px solid themed("story_b");
              }
            }
          }

          .btn-submit {
            align-self: flex-end;
            width: 70px;
            border: none;
            background-color: blue;
            color: white;
            border-radius: 2px;
            padding: 3px 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}
