@import "../../../style.scss";

.chat {
  @include themify($themes) {
    position: absolute;
    z-index: 1000;
    background-color: green;
    width: 330px;
    height: 550px;
    bottom: 0;
    left: 0;
    border-radius: 5px;
  }
}
