@import "../../../style.scss";

.friend {
  @include themify($themes) {
    background-color: themed("nav");
    padding: 15px;

    @include mobile {
      margin-top: 100px;
    }

    .friend-container {
      width: 100%;

      .topF {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
          font-size: 18px;
          color: themed("txt");
          font-weight: 700;
        }

        .searchF {
          height: 40px;
          width: 300px;
          background-color: themed("cb");
          display: flex;
          justify-content: start;
          align-items: center;
          padding-left: 20px;
          border-radius: 25px;

          @include mobile {
            width: 250px;
          }

          .search {
            height: 35px;
            border: none;
            font-size: 16px;
            font-weight: 400;
            color: themed("txt");
            background-color: themed("cb");
          }
          .search:focus {
            outline: none;
          }
        }
      }

      .hr {
        border: none;
        height: 0.2px;
        background-color: themed("cb");
        margin: 15px;
      }

      .friend-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        border-bottom: 1px solid themed("cb");

        .img-name {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-bottom: 5px;

          .img {
            height: 35px;
            width: 35px;
            border-radius: 10px;
          }

          .name {
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            color: themed("txt");
          }
        }
      }

      .action {
        .btn-unfollow {
          border: none;
          padding: 2px 10px;
          font-size: 12px;
          font-weight: 500;
          color: white;
          background-color: #b80000;
          border-radius: 2px;
          cursor: pointer;
        }
      }
    }
  }
}
