@import "../../../style.scss";

.suggeted {
  @include themify($themes) {
    background-color: themed("nav");
    padding: 15px;

    @include mobile {
      margin-top: 100px;
    }

    .suggeted-container {
      width: 100%;

      .topS {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
          font-size: 18px;
          color: themed("txt");
          font-weight: 700;
        }

        .searchS {
          height: 40px;
          width: 300px;
          background-color: themed("cb");
          display: flex;
          justify-content: start;
          align-items: center;
          padding-left: 20px;
          border-radius: 25px;
          @include mobile {
            width: 250px;
          }

          .search {
            height: 35px;
            border: none;
            font-size: 16px;
            font-weight: 400;
            color: themed("txt");
            background-color: themed("cb");
          }
          .search:focus {
            outline: none;
          }
        }
      }

      .hr {
        border: none;
        height: 0.2px;
        background-color: themed("cb");
        margin: 15px;
      }

      .suggeted-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        border-bottom: 1px solid themed("cb");

        .img-name-add {
          display: flex;
          flex-direction: column;
          margin-bottom: 3px;
          .img-name {
            display: flex;
            align-items: center;
            gap: 5px;

            .img {
              height: 35px;
              width: 35px;
              border-radius: 10px;
              border: 1px solid themed("hr");
            }

            .name-addd {
              display: flex;
              flex-direction: column;

              .name {
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                color: themed("txt");
              }
              .add {
                font-size: 10px;
                font-weight: 400;
                color: themed("txt");
                display: flex;
                align-items: center;
                gap: 3px;

                .addIcon {
                  color: blue;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }

      .actionS {
        display: flex;
        justify-content: center;
        gap: 5px;
        .btn-follow {
          border: none;
          padding: 2px 10px;
          font-size: 12px;
          font-weight: 500;
          color: white;
          background-color: #053d83;
          border-radius: 2px;
          cursor: pointer;
        }
      }
    }
  }
}
