@import "../../style.scss";
.login_2 {
  @include themify($themes) {
    background-color: lightblue;
    height: 100vh;
    background-image: url("./assets/bbl2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .login-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100vh;

      .top-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;

        h3 {
          font-size: 40px;
          font-weight: 700;
          margin-bottom: 20px;
          color: blue;
        }

        .dhaa {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
        }

        .title {
          font-size: 30px;
        }
      }

      .form-wrapper {
        display: flex;
        flex-direction: column;
        width: 400px;
        padding: 20px 10px;
        border: 1px solid rgb(168, 163, 163);
        border-radius: 5px;
        gap: 10px;

        .inputss {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 10px;

          input {
            height: 50px;
            width: 100%;
            border-radius: 5px;
            border: none;
            border: 1px solid gray;
            padding-left: 20px;
            font-size: 16px;
            letter-spacing: 1px;
          }
        }

        .fp {
          align-self: center;
        }

        .btn_login {
          align-self: center;
          margin-top: 10px;
          font-size: 30px;
          font-weight: 700;
          padding: 2px 10px;
          background-color: green;
          color: #fff;
          border: none;
          border-radius: 5px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }
}
