@import "../../style.scss";
.n-wrapper {
  @include themify($themes) {
    width: 300px;
    position: absolute;
    right: 0;
    height: 400px;
    top: 60px;
    background-color: themed("lb");
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 10px;
    box-shadow: 0 3px 3px 3px rgba(59, 55, 55, 0.3);
    color: themed("txt");

    @include mobile {
      margin-top: 40px;
      height: 100vh;
      width: 100%;
    }
    h5 {
      font-size: 30px;
      color: themed("txt");
    }
  }
}
