@import "../../style.scss";
.nav_2 {
  .active {
    border-bottom: 2px solid blue;
  }
  @include themify($themes) {
    height: 50px;
    width: 100%;
    margin-top: 50px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: themed("nav");
    border-bottom: 1px solid themed("border_b");
    position: fixed;
    z-index: 500;
    top: 0;

    @include mobile {
      background-color: themed("navmain");
    }

    .icon-wrapper {
      .img {
        height: 25px;
        width: 25px;
        color: blue;
        //color: themed("home_icon");
      }
    }
  }
}
